.sidebar {
  width: 20%;
  height: 2000px;
  float: left;
  background-color: black;
  color: darkgoldenrod;
  border-color: goldenrod; 
  border-style: solid;
}

body {
  text-align: center;
  color: chocolate;
}

.pics {
  float: left;
  width: 20%;
  height: 2000px;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 9px;

}

.pics img {
  display: block;
  width: 95%;

}

.text {
  float: left;
  width: 55%;
}

h2 {
  background-color: black;
  color: darkgoldenrod;
}

h1 {
  background-color: aqua;
  padding: 3%;
}

.sidebar h1 {
  background-color: black;
}

.text h2 {
  padding: 5%;
}